.header {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    }
   .main {
    display: grid;
    grid-template-columns: 20% 80%;
    }
   .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }  
img{
    margin: 10px 0px 0px 10px;
    width: 80px;
    transform: translate(-820%);
}
.box1{
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
    min-height: 1px;
    min-width: 60%;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 35px;
    background-color: #BBD1EA;
    font-weight: bold;
}
.box2{
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
    min-height: 1px;
    min-width: 20%;
    width: 45px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 35px;
    background-color: #BBD1EA;
    font-weight: bold;
}
.argent{
  font-weight: bold;
}
.id{
    margin-top: 45px;
    font-weight: bold;
}
.produit1{
    font-weight: bold;
}
.produit2{
    font-weight: bold;
}
p{
    margin-top: 10px;
}
p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.titre{
    font-weight: bold;
    font-family: 'Lucida Handwriting', sans-serif;
    margin-left: 10px ;
    color: #224062;
    font-size: large;
}
.boutonManager{
    border: 2px;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    width: 250px;
    height: 10px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    background: #4F749F;
  }
  .boutonUnlocks{
    border: 2px;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    width: 250px;
    height: 10px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    background: #4F749F;
  }
  .boutonCash{
    border: 2px;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    width: 250px;
    height: 10px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    background: #4F749F;
  }
  .boutonAngel{
    border: 2px;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    width: 250px;
    height: 10px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    background: #4F749F;
  }
  .boutonInvestors{
    border: 2px;
    border-radius: 2px;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    width: 250px;
    height: 10px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
    background: #4F749F;
  }

  /* .progress {
    width: 100%;
    max-width: 350px;
    height: 25px;
    transform: translate(+40%);
    border-radius: 8px;
    border: 1px black;
  }
  
  .progress .progress__bar {
    height: 100%;
    width: 0%;
    background-color: #224062;
    border-radius: 8px;
    animation: fill-bar 3s infinite;
  } 
 */
 /*  #fabrication:active .progress__bar{
    animation: fill-bar 1000ms infinite;
  }  */ 
  
  /* @keyframes fill-bar {
    from {width: 0%;}
    to {width: 100%;}
  }  */

  .lesdeux{
    position: relative;
  }
  .lesecond{
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
    min-height: 1px;
    min-width: 10%;
    width: 45px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #BBD1EA;
    font-weight: bold;
    position: absolute;
    bottom: -10px;
    transform: translate(+400%);
  }
  .letroisieme{
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
    min-height: 1px;
    min-width: 10%;
    width: 45px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #BBD1EA;
    font-weight: bold;
    position: absolute;
    bottom: -10px;
    transform: translate(+400%);
  }

  .modal {
    position: fixed; /* reste en place */
    z-index: 2; /* au dessus du reste */
    width: 1000px; /* largeur */
    height: 800px; /* hauteur */
    overflow-y: scroll; /* barre de scroll si besoin */
    background-color: white; /* opaque */
    border: solid;
    top: 100px; /* a 5% du haut */
    left:20%; /* a 20% de la gauche */
   }
   .manager{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
   .logo{
    width: '120px';
    border-radius:'50%';
    transform: translate(+115%);
    position: relative;
    top : 20px;
   }

.grid{
  border : solid black 2px;
  margin: 5px;
  height: 170px;
}
.seuil{
  font-weight: bold;
  position: relative;
    top : -80px;
    left : 80px;
}
.name{
  position: relative;
    top : -80px;
    left : 80px;
}
.cible{
  position: relative;
    top : -80px;
    left : 80px;
}
.embauche{
  position: relative;
    top : -80px;
    left : 80px;
}
.bouton{
  background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
}

 
  

